<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Expedia Test Suit" verbose="1">
    <test name="All tests">
        <classes>
            <class name="smoketests.ButtonTagsTest"/>
            <class name="smoketests.LoginPresentTestNG"/>
        </classes>
    </test>
</suite>